[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
shapely = "*"
seaborn = "*"
geopandas = "*"
ipykernel = "*"
joblib = "*"
geopy = "*"
folium = "*"
plotly = "*"
nbformat = "*"
openpyxl = "*"
joypy = "*"
geoplot = "*"

[dev-packages]

[requires]
python_version = "3.11"
