[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shap = "*"
pandas = "*"
matplotlib = "*"
geopandas = "*"
geemap = "*"
pyogrio = "*"
seaborn = "*"
xgboost = "*"
ipykernel = "*"
dtale = "*"
qgrid = "*"
mplleaflet = "*"
shapely = "*"
geopy = "*"
rasterio = "*"

[dev-packages]

[requires]
python_version = "3.11"
