[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
numpyro = "==0.14.0"
jax = "==0.4.26"
jaxlib = "==0.4.26"
arviz = "*"
statsmodels = "*"
ipykernel = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.11"
